body {
  background-color: grey;
}
.title {
  text-align: center;
  font-size: 60px;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  width: 400px;
  height: 30px;
  font-size: 25px;
}

.list-country {
  margin-top: 20px;
  text-align: center;

  font-size: 40px;
  font-weight: 900;
  text-decoration: none;
}

.information {
  display: flex;

  margin-left: 150px;

  align-items: center;
  color: #fff;
  font-size: 40px;
  list-style-type: none;
}
.name {
  font-size: 60px;
  text-align: center;
}
.flag {
  margin-left: 30px;
}
li {
  list-style-type: none;
}
